@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* Tambahkan Background Abstract agar tidak flat hitam */
  background-image: 
    radial-gradient(circle at 15% 50%, rgba(37, 99, 235, 0.08), transparent 25%), 
    radial-gradient(circle at 85% 30%, rgba(147, 51, 234, 0.08), transparent 25%);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0b;
}
::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}